image @IMAGE@ {
    vfat {
        file MLO { image = "MLO"}
        file barebox.bin { image = "barebox-image" }
        file barebox.env { image = "barebox-default-environment" }
        file oftree-bone { image = "am335x-bone.dtb" }
        file oftree-boneblack { image = "am335x-boneblack.dtb" }
        file uImage { image = "linuximage" }
    }
    name = boot-mlo
    size = 10M
}
